[mysqld]
    pid-file        = /var/run/mysqld/mysqld.pid
    socket          = /var/run/mysqld/mysqld.sock
    datadir         = /var/lib/mysql
    #log-error      = /var/log/mysql/error.log
    # By default we only accept connections from localhost
    #bind-address   = 127.0.0.1
    # Disabling symbolic-links is recommended to prevent assorted security risks
    symbolic-links = 0
    max_allowed_packet = 64M
    max_connections = 800
    #MySQL读入缓冲区的大小
    read_buffer_size = 16M
    #MySQL的随机读缓冲区大小
    read_rnd_buffer_size = 8M
    #MySQL的顺序读缓冲区大小
    sort_buffer_size = 8M
    binlog_format = statement